.header-container{
    height: 56px;
    background-color: #3A3B3C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-font{
    margin-left: -10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}